*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 150vh;
    background-color:rgb(2, 2, 2);
    color: #fff;
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
}

main{
    display: flex;
    height: 100vh;
    width: 100vw;
    margin: auto;
    background-image: 
    radial-gradient(circle , rgba(255,255,255,0) 75%, rgb(0, 0, 0) 99%), linear-gradient(180deg, rgba(255,255,255,0) 60%, rgba(0, 0, 0, 0.952) 90%), 
    /* url(https://images.unsplash.com/photo-1473654729523-203e25dfda10?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80);  */
     url(./images/iceland.jpg); 
    background-size: cover;
    background-position: center;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-shadow: -3px 1px 2px rgba(150, 150, 150, 0.41);
}

.hero__header{
    position: relative;
    font-family: 'Noto Serif', serif;
    font-size: 5rem;
    font-weight: 300;
    color: rgb(255, 255, 255);
    font-style: italic;
    bottom: 80px;
}

.hero__paragraph{
    position: relative;
    font-family: 'Noto Serif', serif;
    font-size: 1.8rem;
    font-style: italic;
    font-weight: 400;
    letter-spacing: 1px;
    bottom: 80px;
    left: 180px; 
}

nav{
    position: absolute;
    display: flex;
    width: 90%;
    height: 60px;
    justify-content: center;
    align-items: center;
    top: 20px;
    left: 55px;
    right: 0;
    margin: auto;
}

.nav__element{
    display: block;
    color: white;
    text-decoration: none;
    font-weight: 400;
    font-size: 1.2rem;
    padding: 20px 30px;
}

.nav__icon{
    font-size: 2.6rem;
    color: rgba(255, 255, 255, 0.876);
}


.nav__element--underline:after{
    content: '';
    display: block;
    border-bottom: 3px solid white;
    width: 0;
    transform: translateY(5px);
    transition: .5s ease;;
}

.nav__element--underline:hover:after{
    width: 100%;
}

.hamburger{
    display: none;
    position: absolute;
    position: fixed;
    right: 20px;
    top: 20px;
    padding: 10px;
    background-color: transparent;
    border: 0;
    transition: transform .3s .1s ease-in-out;
    transform: translatex(0px);
    z-index: 2;
    outline: none;
    cursor: pointer;
}

.hamburger__box{
    width: 40px;
    height: 24px;
    display: inline-block;
    position: relative;
}

.hamburger__inner{
    width: 100%;
    height: 3px;
    background-color: rgb(255, 255, 255);
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    transition: background-color .1s .1s ease-in-out;
}

.hamburger__inner::before,
.hamburger__inner::after {
    content: "";
    width: 100%;
    height: 3px;
    background-color: #fff;
    position: absolute;
    left: 0;
    transition: transform .2s .1s ease-in-out;
    
}

.hamburger__inner::before{
    top: -10px;
}

.hamburger__inner::after{
    top: 10px;
}

.hamburger--active .hamburger__inner{
    background-color: transparent;
}

.hamburger--active .hamburger__inner:before{
    transform: translateY(10px) rotate(45deg);
}

.hamburger--active .hamburger__inner:after{
    transform:translateY(-10px) rotate(-45deg) ;
}

.navigation{
    display: flex;
    height: 100vh;
    width: 250px;
    background-color: #0f0f0f;
    position: absolute;
    position: fixed;
    top: 0;
    right: 0;
    transform: translateX(250px);
    transition: transform .3s .1s ease-in-out;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 1;
}

.navigation--active{
    transform: translateX(0px);
}

.navigation__list{
    list-style-type: none;
}

.navigation__item{
    width: 100%;
    margin: 25px 0 25px 0;
    font-size: 1.1rem;
}

.navigation__item a{
    display: block;
    width: 150px;
    padding: 20px;
    text-decoration:none;
    color: rgb(255, 255, 255);
    cursor: pointer;
}

.about{
    position: relative;
    width: 90%;
    height: 1000px;
    margin: auto;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-around;
}

.about__container{
    width: 50%;
    height: 70%;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-evenly;
}

.about__team{
    width: 600px;
    height: 300px;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-evenly;
}

.about__person{
    text-align: center;
}

.person__img{
    width: 150px;
    height: 150px;
    background-size: cover;
    background-position: center;
    margin: auto;
    border-radius: 80px;
    filter: grayscale(1);
    transition: filter .3s ease-in-out;
}

.person__img:hover{
    filter: grayscale(0);
}

.person__name{
    margin-top: 20px;
    font-weight: 400;
    font-size: 1.6rem;
    letter-spacing: 1px;
}

.person__isabel{
    background-image: url(./images/isabel.jpeg);
}

.person__jon{
    background-image: url(./images/jon.jpeg);
}
.person__vivienne{
    background-image: url(./images/vivienne.jpeg);
}
.about__box{
    width: 600px;
    text-align: center;
}

.about__header{
    font-size: 2.6rem;
    font-weight: 400;
    letter-spacing: 1px;
    margin-bottom: 40px;
}

.about__text{
    display: block;
    width: 600px;
    text-align: center;
    font-size: 1.4rem;
    max-width: 820px;
    line-height: 35px;
    color: rgba(255, 255, 255, 0.692);
    
}

.about__img{
    width: 700px;
    height: 500px;
    background-image: 
    radial-gradient(circle , rgba(255,255,255,0) 45%, rgb(0, 0, 0) 85%), 
    url(./images/camera.jpeg);
    background-position: center;
    background-size: cover;
}


.explore{
    width: 80%;
    margin: 60px auto;
   text-align: center;
   padding-top: 50px;
}

.explore__header{
    font-size: 2.6rem;
    font-weight: 400;
    letter-spacing: 1px;
}

.explore__paragraph{
    font-size: 1.4rem;
    max-width: 820px;
    margin: 40px auto;
    line-height: 35px;
    color: rgba(255, 255, 255, 0.692);
}

.explore__container{
    display: flex;
    margin: 100px auto;
    width: 90%;
    justify-content: space-around;
    align-items: center;
    flex-flow: wrap;
}

.explore__box{
    width: 400px;
    height: 560px;
    position: relative;
    background-size: cover;
    background-position: center;
}

.explore__box:nth-of-type(1){
 background-image:linear-gradient(180deg, rgba(255,255,255,0) 55%, rgba(0,0,0,0.8099614845938375) 100%), url(./images/glacier.jpeg);
}

.explore__box:nth-of-type(2){
    background-image:linear-gradient(180deg, rgba(255,255,255,0) 55%, rgba(0,0,0,0.8099614845938375) 100%), url(./images/canyon.jpeg);
}

.explore__box:nth-of-type(3){
    background-image:linear-gradient(180deg, rgba(255,255,255,0) 55%, rgba(0,0,0,0.8099614845938375) 100%), url(./images/iceland.jpeg);
}

.box__place{
    position: relative;
    top: 76%;
    font-family: 'Noto Serif', serif;
    font-size: 2rem;
}

.box__country{
    position: relative;
    top: 80%;
}

.explore__button{
    padding: 20px;
    margin-bottom: 50px;
    font-size: 1.2rem;
    font-weight: bold;
    background-color: rgba(255, 255, 255, 0);
    color: rgb(26, 98, 139);
    border: none;
    transition:  all .5s ease;
    outline: none;
}

.explore__button:hover{
    color: rgb(32, 115, 163);
    cursor: pointer;
}

.explore__button:after{
    content: '';
    display: block;
    border-bottom: 2px solid rgb(32, 115, 163);
    width: 0;
    transform: translateY(10px);
    transition: .5s ease;;
}

.explore__button:hover:after{
    width: 100%;
}

.adventures{
    width: 80%;
    margin: 100px auto;
    text-align: center;
    padding-top: 40px;
}

.adventures__header{
    font-size: 2.6rem;
    font-weight: 400;
    letter-spacing: 1px;
}

.adventures__paragraph{
    font-size: 1.4rem;
    max-width: 820px;
    margin: 40px auto;
    line-height: 35px;
    color: rgba(255, 255, 255, 0.692);
}

.adventures__container{
    display: flex;
    margin-top: 100px;
    flex-flow: wrap;
    justify-content: space-evenly;
}

.adventures__post{
    display: flex;
    margin: 25px;
    max-width: 620px;
    flex-flow: column wrap;
    justify-items: center;
    align-content: center;
}

.adventures__img{
    position: relative;
    display: block;
    margin: auto;
    width: 580px;
    height: 400px;
    transition: all .5s ease-in-out;
    background-image: linear-gradient(rgb(2, 2, 2), #fff);
}

.container {
    position: relative;
    width: 580px;
    height: 400px;
  }
  
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0);
    transition: all 0.5s ease-in-out;
  }
  
  .container:hover .overlay {
    display: block;
    background: rgba(0, 0, 0, 0.37);
  }
  
  .button {
    position: absolute;
    width: 620px;
    left:-20px;
    top: 300px;
    text-align: center;
    opacity: 0;
    transition: opacity .35s ease-in-out;
  }
  
  .button a {
    width: 100px;
    padding: 12px 38px;
    text-align: center;
    color: white;
    border: solid 2px white;
    text-decoration: none;
    font-weight: 500;
    font-size: 1rem;
  }

  .container:hover .button {
    opacity: 1;
  }

.post-date{
    font-size: 1.2rem;
    font-weight: 600;
    margin-top: 30px;
    color: rgba(255, 255, 255, 0.692);
}

.post-title{
    font-family: 'Noto Serif', serif;
    font-size: 2rem;
    margin-top: 15px;
}

.post-info{
    max-width: 80%;
    margin: auto;
    font-size: 1.2rem;
    font-weight: 600;
    margin-top: 30px;
    color: rgba(255, 255, 255, 0.692);
}

.adventures__button{
    color: rgba(255, 255, 255, 0.692);
    outline: none;
}

.adventures__button:hover{
    color: #fff;
}

.adventures__button:after{
    border-bottom: 2px solid rgb(255, 255, 255);
}

.night-sky{
    position: relative;
    transform: translateY(-700px);
    width: 80%;
    height: 80vh;
    margin: auto;
    background-image: linear-gradient(180deg, rgba(255,255,255,0) 80%, rgba(0, 0, 0, 0.952) 95%),
    radial-gradient(circle , rgba(255, 255, 255, 0) 55%, rgb(0, 0, 0) 90%), linear-gradient(0deg, rgba(255,255,255,0) 60%, rgba(0, 0, 0, 0.952) 90%), 
     url(./images/nightsky.jpeg); 
    background-size: cover;
    z-index: -1;
}

footer{
    position: relative;
    width: 100%;
    height: 80px;
    background-color: rgb(14, 14, 14);
    bottom: 500px;
}

.footer__container{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: auto;
}

.media-icon{
    padding: 10px 10px;
    font-size: 1.6rem;
    color: white;
}

.copyright{
    color: rgba(180, 180, 180, 0.774);
}

.phone{
    text-decoration: none;
    color: #fff;
    font-size: 1.2rem;
    font-weight: bold;
}

.contact{
    display: flex;
    position: relative;
    width: 40%;
    height: 340px;
    margin:auto;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    bottom: 600px;
    text-align: center;
}

.contact h2{
    font-size: 2.6rem;
    font-weight: 400;
    letter-spacing: 1px;
    margin-bottom: 20px;
}

.contact p{
    font-size: 1.4rem;
    max-width: 80%;
    line-height: 35px;
    color: rgba(255, 255, 255, 0.692);
    margin-bottom: 25px;
}

.form{
    width:80%;
}

.form__element{
    width: 90%;
    height: 40px;
    margin: 25px 15px;
    background-color: rgb(0, 0, 0);
    border: none;
    border-bottom: 1px rgb(255, 255, 255) solid;
    color: rgb(255, 255, 255);
    font-size: 1.2rem;
    outline: none;
}

.form__element:nth-of-type(1), .form__element:nth-of-type(2){
    width: 42%;
}

.form__submit{
    display: block;
    margin: auto;
    width: 160px;
    height: 40px;
    margin-top: 30px;
    background-color: rgba(255, 255, 255, 0);
    border: 1px #fff solid;
    color: #fff;
    font-weight: 500;
    font-size: 1.1rem;
    cursor: pointer;
    transition: all .5s ease;
}

.form__submit:hover{
    transform: scale(1.1);
}

@media (max-width: 1680px){
    .adventures{
        width: 100%;
    }

    .explore__box{
        margin-bottom: 20px;
    }
}

@media (max-width: 1400px){
    .about__img{
        width: 600px;
        height: 400px;
        background-image: 
        radial-gradient(circle , rgba(255,255,255,0) 55%, rgb(0, 0, 0) 75%), 
        url(./images/camera.jpeg);
        margin-top: 60px;
    }

    .adventures__post{
        margin: 10px;
        max-width: 620px;
    }

    .night-sky{
        width: 100%;
        background-position: center;
    }

    .contact{
        width: 60%;
    }

    .footer__container{
        width: 70%;
    }

    .explore__container{
        width: 100%;
    }

    .explore__box{
        zoom: 0.8;
    }

}

@media (max-width: 876px){
    .explore{
        padding-top: 0px;
    }

    .adventures{
        padding-top: 0px;
    }

    .adventures__post{
        width: 60%;
    }

    .post-title{
        transform: translateX(10px);
    }

    .post-info{
        transform: translateX(10px);
    }

    .adventures__img{
        position: absolute;
        width: 400px;
        height: 280px;
        transform: translate(10px,10px);
    }
    .adventures__paragraph{
        width: 80%;
        margin: auto;
    }
    .adventures__header{
        margin: auto;
    }
    .post-date{
        margin: auto;
    }

    .overlay{
        width: 400px;
        height: 280px;
        transform: translate(10px, 10px);
    }

    .container{
        width: 380px;
        height: 300px;
    } 

    .hero__paragraph{
        left: 10px;
    }

    .hero__header{
        font-size: 4rem;
    }

    nav{
        display: none;
    }

    .hamburger{
        display: inline-block;
    }

    .button{
        width: 50%;
        transform: translate(135px,-75px);
    }

    .button a{
        width: 80px;
    }

    .contact{
        width: 90%;
    }

    footer{
        height: 120px;
    }

    .footer__container{
        width: 90%;
        flex-flow: column;
    }

    .media-icon{
        font-size:1rem;
    }
}

@media (max-width: 650px){
    .about__container{
        zoom: 0.8;
    }

    .about__text{
        font-size: 1.6rem;
    }

    .about__header{
        font-size: 3.2rem;
    }


    .explore__box{
        width: 280px;
        max-height: 420px;
    }

    .post-info1{
        transform: translateY(20px);
    }

    .adventures__button{
        transform: translateY(40px);
    }

    .post-title{
        transform: translateX(20px);
    }

    .post-info{
        transform: translateX(20px);
    }

    .post-date{
        transform: translateX(20px);
    }
}

@media(max-width:560px){
    .about{
        width: 90%;
        height: 700px;
        margin: 0px auto 120px auto;
    }

    .about__box{
        zoom: 1.1;
        width: 420px;
    }

    .about__text{
        width: 420px;
        font-size: 1.6rem;
        letter-spacing: normal;
    }

    .about__container{
        zoom: 0.7;
    }

    .about__team{
        width: 400px;
        zoom: 0.8;
    }

    .about__person{
        margin: 0 20px;
    }
    .about__img{
        zoom: 0.8;
        margin-top: 30px;
    }

    .form__element:nth-of-type(1), .form__element:nth-of-type(2){
        width: 90%;
    }

    .overlay{
        display: none;
    }

    .container{
        background-image: url(./images/bus.jpeg);
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        margin: auto;
        min-width: 300px;
        zoom: 0.7;
    }

    .container-1{
        background-image: url(./images/hiking.jpeg);
    }

    .adventures__paragraph{
        font-size: 1.2rem;
        margin-top: 50px;
    }

    .adventures__container{
        width: 100%;
    }

    .hero__header{
        font-size: 2.8rem;
    }

    .hero__paragraph{
        font-size: 1.4rem;
    }

    .button{
        display: none;
    }

    .box__place{
        font-size: 1.6rem;
    }

    .explore__paragraph{
        font-size: 1.2rem;
    }

    .adventures__img{
        display: none;
    }

    .post-info{
       font-size: 1rem;
       transform: translateX(5px) translateY(-10px);
    }

    .post-info1{
        transform:translateY(-10px)
    }

    .post-title{
        transform: translateX(5px);
    }

    .post-date{
        transform: translateX(0px);
    }

}
